.footer {
  background-color: #01161e;
  color: white;
  height: 10rem;
  padding: 10px;
  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    a {
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #e0e0e0;
      transform: translateX(5px);
      transition: 0.4s;
    }
  }
}
