<div class="footer">
  <h4>Tiendita</h4>
  <div class="links">
    <a routerLink="/">Inicio</a>
    <a routerLink="/products">Productos</a>
    <a routerLink="/about">Sobre nosotros</a>
  </div>
</div>
