.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #008080;
    color: #f5deb3;
    h3{
        font-weight: 500;
        font-size: x-large;
    }
}

.btn-nav:hover{
    scale: 110%;
    color: #e7c27d;
    transition-duration: 0.2s;
}