<mat-toolbar class="navbar">
  <h3>Tiendita</h3>
  <div>
    <button
      mat-button
      class="btn-nav"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      Inicio
    </button>
    <button mat-button class="btn-nav" [routerLink]="['/products']">
      Productos
    </button>
    <button mat-button class="btn-nav" [routerLink]="['/about']">
      Sobre nosotros
    </button>
  </div>
</mat-toolbar>
