h2 {
  margin: 10px 0 20px 40px;
  font-size: x-large;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  text-align: left;
  background-color: white;
  text-decoration: none;
  color: black;

  img {
    width: 100%;
    object-fit: cover;
    height: 60%;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
  }

  .price {
    text-align: end;
    margin-right: 10px;
    opacity: 0.7;
  }
}
