<div>
  <h2>Todos los productos</h2>
  <div class="product-grid">
    @for (producto of productos; track producto.id) {
    <a routerLink="/product/{{ producto.id }}" class="product-card">
      <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" />
      <div>
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p class="price">${{ producto.precio }}</p>
      </div>
    </a>
    }
  </div>
</div>
