<div class="banner">
  <div class="banner-content">
    <h1>¡Bienvenido a Tiendita!</h1>
    <p>Descubre los mejores productos al mejor precio</p>
    <button routerLink="/products" mat-raised-button>Comprar Ahora</button>
  </div>
</div>

<section class="destacados">
  <h2>Productos destacados</h2>
  <div class="product-grid">
    <a routerLink="/product/1" class="product-card">
      <img
        src="https://img.global.news.samsung.com/cl/wp-content/uploads/2019/01/Notebook-9-Pro-3-553x408.jpg"
        alt="Producto"
      />
      <div>
        <h3>Computadora</h3>
        <p>Descripcion</p>
      </div>
    </a>
  </div>
</section>

<section class="testimonial">
  <h2>Testimonios</h2>
  <div class="testimonial-grid">
    <div class="testimonial-card">
      <p>Este es un testimonio</p>
      <p>- Autor</p>
    </div>
    <div class="testimonial-card">
      <p>Este es un testimonio</p>
      <p>- Autor</p>
    </div>
    <div class="testimonial-card">
      <p>Este es un testimonio</p>
      <p>- Autor</p>
    </div>
  </div>
</section>
