.banner{
    background-image: url('https://cdn.pixabay.com/photo/2019/03/03/20/23/background-4032775_1280.png');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: bisque;
  text-align: center;
  .banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    button{
        color: black;
        background-color: #e4cd4e;
        height: 36px;
        border-radius: 5px;
        transition-duration: 1s;
    }
    button:hover{
        scale: 110%;

    }
  }
}

.destacados{
    background-color: #EFF6E0;
}

.testimonial{
    background-color: #598392;
}

section {
    padding: 20px;
  
    h2 {
      margin: 10px 0 20px 40px;
      font-size: x-large;
    }
    
    .product-grid, .testimonial-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  
    .product-card, .testimonial-card {
      width: 300px;
      margin: 10px;
      padding: 15px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      text-align: left;
      background-color: white;
      text-decoration: none;
      color: black;

  
      img {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 10px;
      }
    }
  }